*{
    padding:0;
}

#header, #contact, #profile {
    text-align:center;
 
}

body{
    background:rgb(226, 235, 212);
    font-size: 20px;
}
p{
    color:green;
}

/* icons  */

.fa-phone, .fa-envelope{
    color:green;
}